@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Ubuntu, sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9cc2a9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.5'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  width: 480px;
  height: 630px;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.6);
}

/* Form */

form {
  width: 90%;
}

.form-group {
  height: 65px;
}

label {
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

button {
  cursor: pointer;
  color: whitesmoke;
  background: black;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(200%);
  background: rgb(13, 31, 31);
}

button:focus {
  outline: none;
}

.message-container {
  border: 1px dashed black;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
}
